.favoritePlaylist-list{
    display: block;
    height: 220px;
    overflow-y: auto;
    scroll-behavior: smooth;
}
.favoritePlaylist-list::-webkit-scrollbar{
    display: none;
}
.favoritePlaylist-list__title{
    font-size:1rem;
}