.main-content__box{
    height: 510px;
    overflow-y: auto;
}
.main-content__banner::-webkit-scrollbar{
    display: none;
}
.main-content__banner{
    margin: 10px;
}
.banner1{
    background: linear-gradient(to right, white, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0)), url(../img/trend/bangkieu-trend.jpg) no-repeat right top/cover !important;
}
.banner2{
    background: linear-gradient(to right, white, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0)), url(../img/trend/trucnhan-trend.jpg) no-repeat left center/cover !important;
}
.banner3{
    background: linear-gradient(to right, white, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0)), url(../img/trend/trungquanidol-trend.jpg) no-repeat right center/cover !important;
}
.banner4{
    background: linear-gradient(to right, white, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0)), url(../img/trend/buianhtuan-trend.jpg) no-repeat right top/cover !important;
}

audio{
    width: 70% !important;
}